.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.list-container {
  max-width: 800px;
  margin: auto;
}

.planner-day-row-container {
  user-select: none;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.planner-day-row-container .left-number {
  font-size: 2rem;
  margin-top: calc(100vh / 20);
  margin-right: 20px;
}

.planner-day-row-container .planner-day-row {
  border-bottom: 2px dashed rgba(152, 148, 148, 0.2);
  width: 100%;
  margin-left: 20px;
}
